/* UserSingleVehicle.css */

.user-single-vehicle-container {
  padding: 16px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 20px;
  
}

.vehicle-content {
  display: flex;
  justify-content: space-between;
  gap: 16px;

}

.vehicle-content:hover{
  border-radius: 40px;
  border-color: #0b0909;
}

.vehicle-details {
  width: 48%;
  text-align: left;
}

.vehicle-image-container {
  width: 45%;
}

.vehicle-main-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.vehicle-main-image:hover {
  transform: scale(1.03);
}

.image-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.image-navigation button {
  padding: 8px 12px;
  background-color: #f4f4f4;
  border: 1px solid #c5bbbb;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  color:#c5bbbb;
}

.image-navigation button:hover {
  background-color: #0b0909;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  position: relative;
}

.large-image {
  width: 75%;
  max-width: 750px;
  height: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.close-button:hover {
  opacity: 0.8;
}
